/* Original styles for the navbar */
.navbar {
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 20px;
  background-color: rgb(0, 80, 0);
  transition: background-color 0.3s ease; /* Add a smooth transition for background color */
  position: -webkit-sticky; /* For Safari compatibility */
  position: sticky;
  top: 0;
  z-index: 100; /* Ensure the navbar is on top of other content */
}

.logo {
  height: 60px;
}

.links {
  display: flex;
  align-items: center;
  gap: 50px;
}

.link {
  color: white;
  text-decoration: none;
}

/* Styles for the navbar when scrolled */
.navbar.scrolled {
  background-color: rgba(0, 80, 0, 0.9);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
